.visible.drop-down-content {
  display: flex;
  flex-direction: column;
}

.drop-down-content {
  display: none;
  width: 100px;
  padding: 10px;
  background-color: rgb(219, 220, 220);
  border-radius: 3px;
}

.drop-down-content button {
  border-radius: 0;
  border: 0px solid black;
  margin: 2px;
}

.drop-down-content button:hover {
  background-color: antiquewhite;
}

.drop-down-button {
  font-size: 1.1em;
  text-align: center;
  border-width: 1px;
  color: rgb(69, 67, 67);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slides {
  background-color: rgb(209, 207, 207);
  width: 900px;
  height: 300px;

  display: flex;
}

.frame {
  border: 5px solid black;
  width: 300px;
  overflow: hidden;
}

.slide-image {
  width: 300px;
}
